body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', 'HelveticaNeue-Light', 'Ubuntu', 'Droid Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background: url(https://wallpaperscraft.com/image/girl_t-shirt_emotions_black_and_white_91839_1920x1080.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    margin: 1em 200px 1em 200px;
    width: 768px;
    
}